<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.zyq.phonebook.springboot.mapper.TAdminMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="TAdmin" id="tAdminMap">
        <result property="id" column="id"/>
        <result property="username" column="userName"/>
        <result property="password" column="password"/>
    </resultMap>
  
  <!--要查询的字段-->  
  <sql id="sel_TAdminColumns_List" > 
  	  id ,        
   userName  ,        
  password         
  
  </sql>
  
  <!--要添加的字段-->
  <sql id="ins_TAdminColumns_List" >
       #{id},   #{username},   #{password}   </sql> 
  
  <!--要修改的字段-->
  <sql id="upd_TAdminColumns_List" >
    <set>
    <if test="username != null">userName = #{username}, </if>
    <if test="password != null">password = #{password}</if>
	</set>
	where id = #{id}
  </sql> 
  
  <!--定义删除的条件-->
  <sql id="del_TAdminPramas_List">
    <where>
    <if test="id != null">and id = #{id}</if>
    <if test="username != null">and userName = #{username}</if>
    <if test="password != null">and password = #{password}</if>
	</where>
  </sql> 
  
  <!--定义查询的条件-->
  <sql id="sel_TAdminPramas_List">
    <where>
    <if test="id != null">and id = #{id}</if>
    <if test="username != null">and userName = #{username}</if>
    <if test="password != null">and password = #{password}</if>
	</where>
  </sql>

    <!--添加-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into t_admin values (<include refid="ins_TAdminColumns_List" />)
    </insert>

    <!--修改-->
    <update id="update">
        update t_admin <include refid="upd_TAdminColumns_List" />
    </update>

    <!--根据条件删除-->
    <delete id="delete">
        delete from t_admin <include refid="del_TAdminPramas_List" />
    </delete>

    <!--批量删除-->
    <delete id="deleteBatch">
        delete from t_admin where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--根据主键id查询单个对象-->
	<select id="queryObjectById" resultMap="tAdminMap">
		select  <include refid="sel_TAdminColumns_List" />  from t_admin where id = #{id}
	</select>
	
	<!--查询所有对象-->
	<select id="queryAll" resultMap="tAdminMap">
		select  <include refid="sel_TAdminColumns_List" />  from t_admin
    </select>

    <!--根据条件（无条件）查询多个对象-->
	<select id="queryManyByPramas" resultMap="tAdminMap">
		select  <include refid="sel_TAdminColumns_List" />  from t_admin <include refid="sel_TAdminPramas_List" />
	</select>
	
	<!--根据条件（无条件）分页查询-->
	<select id="queryListByPramas" resultMap="tAdminMap">
		select  <include refid="sel_TAdminColumns_List" />  from t_admin <include refid="sel_TAdminPramas_List" /> order by id desc
	</select>

    <!--根据条件查询单条数据-->
    <select id="queryObjectByPramas" resultMap="tAdminMap">
        select  <include refid="sel_TAdminColumns_List" />  from t_admin <include refid="sel_TAdminPramas_List" />
    </select>
	
	<!--根据条件（无条件）查询数据条数-->
 	<select id="queryTotalByPramas" resultType="java.lang.Long">
		select count(*) from t_admin <include refid="sel_TAdminPramas_List" />
	</select>
	


</mapper>